<div class="sbext-dashboard-main">
  <input type="text" class="sbext-card-search-input" [(ngModel)]="searchText" (ngModelChange)="searchKnowledgeCard($event)" placeholder="Search for Knowledge Cards">
  <div class="sbext-knowledge-listing">
    <div *ngFor="let k of AllK" class="sbext-knowledge-card">
      <span class="sbext-card-title align-text-bottom">{{k.name}}</span>
    </div>
  </div>
</div>