.sbext-team-name {
    font-size: 20px;
}

.sbext-sb-info {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: rgb(246, 247, 249);
    padding: 10px;
    background-color: rgb(169, 169, 196);
}